body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: darkgrey;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

main {
    position: relative;
}

canvas {
    background-color: black;
}

#PlayerBars {
    position: absolute;
    display: flex;
    flex-direction: column;
    display: none;
}

.PlayerProperty_div {
    display: flex;
    margin: 6px;
    height: 32px;
}

.Bar_Image {
    width: 32px;
    height: 100%;
}

.Bar_bg_div {
    border-radius: 8px;
    border-color: white;
    border-style: solid;
    background-color: rgb(52, 52, 52);
}


#health_bg_max {
    width: 100px
}

#ammo_bg_max {
    width: 100px;
}

#coin_bg_max {
    width: 100px;
}

.Actual_bar {
    border-radius: 5px;
}

#playerHealth_bar {
    background-color: red;
    height: 100%;
    width: 100%;
}

#playerAmmo_bar {
    background-color: blue;
    height: 100%;
    width: 100%;
}

#playerCoins_bar {
    background-color: yellow;
    height: 100%;
    width: 0%;
}


.overDiv {
    display: flex;
    text-align: center;
    flex-direction: column;
}

.buttonDiv {
    width: 400px;
    display: flex;
    justify-content: space-between;
}

.heroChoice {
    border-radius: 5px;

}

.heroChoice p {
    font-weight: bolder;
    font-size: large;
}

.acco {
    background-color: #686f99;
    color: #f8c53a;
}

.eleria {
    background-color: #737017;
    color: #452d29;
}

.kazim {
    background-color: #192231;
    color: #740019;
}